In [1]:
import pandas as pd
tabela_vendas = pd.read_excel('aula_1/Vendas.xlsx')
tabela_vendas.head()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

In [13]:
resultado = tabela_vendas[['ID Loja','Quantidade','Valor Final']].groupby('ID Loja').sum().reset_index()

In [14]:
resultado['ticket'] = 0

In [21]:
for i in range(len (resultado)):
    resultado.loc[i,'ticket'] = (resultado.loc[i,'Valor Final'] / resultado.loc[i,'Quantidade'])
#resultado.head(25)
resultado.to_excel('aula_1/estudo_vendas2019.xlsx')
#resultado.to_html('aula_1/estudo_vendas2019.html')

In [25]:
resultado.head()

                      ID Loja  Quantidade  Valor Final      ticket
0         Bourbon Shopping SP        8863      1726110  194.754598
1  Center Shopping Uberlândia        8627      1668921  193.453228
2           Iguatemi Campinas        8935      1762419  197.248909
3          Iguatemi Esplanada        8580      1699681  198.098019
4              Norte Shopping        9014      1711968  189.923231

In [44]:
lojas = resultado['ID Loja'].tolist()
lojas

['Bourbon Shopping SP',
 'Center Shopping Uberlândia',
 'Iguatemi Campinas',
 'Iguatemi Esplanada',
 'Norte Shopping',
 'Novo Shopping Ribeirão Preto',
 'Palladium Shopping Curitiba',
 'Parque Dom Pedro Shopping',
 'Passei das Águas Shopping',
 'Ribeirão Shopping',
 'Rio Mar Recife',
 'Rio Mar Shopping Fortaleza',
 'Salvador Shopping',
 'Shopping Barra',
 'Shopping Center Interlagos',
 'Shopping Center Leste Aricanduva',
 'Shopping Eldorado',
 'Shopping Ibirapuera',
 'Shopping Iguatemi Fortaleza',
 'Shopping Midway Mall',
 'Shopping Morumbi',
 'Shopping Recife',
 'Shopping SP Market',
 'Shopping União de Osasco',
 'Shopping Vila Velha']

In [47]:
for loja in resultado:
    print (loja)
    #if loja in resultado['ID Loja']:
        #tabela_loja = resultado.loc[loja]

ID Loja
Quantidade
Valor Final
ticket

In [50]:
len (resultado)

25